:root{
    --standard-color: #1AFFC1;
    --standard-gradient: linear-gradient(to right, #00FFF7, #0AB279);
    --standard-white: #fff;
    --standard-background-color: #272727;
    --standard-opacity-white: rgba(255, 255, 255, 0.2);
    --standard-gray: #2e2e2e;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    overflow-x: hidden;
}


html,
body{
    scroll-behavior: smooth;
    height: 100%;
    background: var(--standard-background-color);
}

section{
    padding: 150px;
}

#menu{
    width: 100%;
    padding: 30px;
    position: absolute;
    z-index: 99;
    background-color: var(--standard-background-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

#menu ul{
    float: right;
    padding-right: 240px;
    
}

#menu ul li{
    display: inline;
    margin-right: 20px;
    margin-left: 30px;
}

#menu ul li a{
    text-decoration: none;
}

#menu-item{
    font-family: Caviar Dreams, sans-serif;
    font-weight: normal;
    color: var(--standard-white);
}

#menu-item-contato{
    font-family: Caviar Dreams, sans-serif;
    font-weight: bold;
    color: var(--standard-color);
}

#home-screen{
    width: 100%;
    height: 100%;
    background: url(../img/code.svg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: 200px;
}



#welcome-text{
    margin-top: 200px;
    margin-left: 150px;
    cursor: default;
    z-index: 99;
}

#welcome-text h3{
    font-family: Caviar Dreams, sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color: #fff;
}

#welcome-text h1{
    font-family: Caviar Dreams, sans-serif;
    font-size: 80pt;
    font-weight: bold;
    color: #fff;
}

#line-one{
    width: 10%;
    height: 12px;
    background-color: var(--standard-color);
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#line-two{
    width: 5%;
    height: 12px;
    background-color: var(--standard-color);
    border-radius: 20px;
    position: relative;
    margin-top: -12px;
    margin-left: 180px;
}

#welcome-text p{
    font-family: Caviar Dreams, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: #fff;

    margin-top: 20px;
}

#btn-curriculo{
    width: 20%;
    padding: 15px;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
    background: var(--standard-color);

    font-family: Caviar Dreams, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: var(--standard-white);
    transition: ease-out 0.4s;
    cursor: pointer;
}

#btn-curriculo:hover{
    transition-timing-function: ease-out;
    width: 25%;
}



#social-media{
    margin-top: 300px;
    margin-left: 150px;
    list-style: none;
}

#social-itens li{
    display: inline;
    margin-right: 10px;
}

#background-ornament-one{
    width: 400px;
    height: 400px;
    background-color: var(--standard-white);
    border-radius: 100%;
    margin-top: 500px;
    margin-left: 100px;
    background-color: var(--standard-opacity-white);
}

#background-ornament-two{
    width: 200px;
    height: 200px;
    background-color: var(--standard-white);
    border-radius: 100%;
    margin-top: -400px;
    margin-left: 350px;
    background-color: var(--standard-opacity-white);
}

#sobre{
    width: 100%;
    background-color: var(--standard-gray);
}

#sobre h3{
    font-family: Caviar Dreams, sans-serif;
    font-weight: bold;
    color: var(--standard-white);
    cursor: default;
}

#sobre h1{
    font-family: Caviar Dreams, sans-serif;
    font-size: 50pt;
    font-weight: bold;
    color: var(--standard-color);
    cursor: default;
}

#sobre-title{
    margin-top: 50px;
}

#jonatas-img{
    width: 300px;
    height: 440px;
    border-radius: 10px;
    background-image: url(../img/jonatas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    border: solid 10px var(--standard-color);
    transition: ease-out 0.2s;
}

#sobre-title{
    float: left;
}

#sobre-info{
    width: 60%;
    height: 100%;
    display: block;
    float: left;

    margin-top: 60px;
    margin-left: 160px;
}

#sobre-info h5{
    font-family: Caviar Dreams, sans-serif;
    font-size: 20pt;
    color: var(--standard-color);
    margin-bottom: 20px;
}


#sobre-info p{
    font-family: Caviar Dreams, sans-serif;
    font-weight: bold;
    text-align: justify;
    color: var(--standard-white);
}

#skills{
    width: 100%;
}

#skills-title{
    margin-top: 60px
}

#card{
    width: 220px;
    height: 300px;
    background-color: #444444;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(59, 42, 42, 0.2);
    transition: ease-out 0.2s;
}

#card:hover{
    transition-timing-function: ease-out;
    transform: scale(0.95);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

#card-img{
    width: 60%;
    margin: 0 20%;

    margin-top: 30px;
}

#card-title{
    font-family: Caviar Dreams, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: var(--standard-white);
    text-align: center;
    margin-top: 50px;
}


#portfolio{
    width: 100%;
    padding: 0;
}

#portfolio h3{
    font-family: Caviar Dreams, sans-serif;
    font-size: 40pt;
    color: var(--standard-color);
    margin-bottom: 60px;
    margin-left: 90px;
}

#galeria{
    width: 100%;
}

#galeria-itens{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: 45px;
}

#galeria-itens li{
    width: 450px;
    height: 300px;
    background-color: var(--standard-gray);
    display: inline-block;
    border-radius: 10px;
    transition: ease-out 0.2s;
}

#galeria-itens li:hover{
    transition-timing-function: ease-out;
    transform: scale(0.9);
}

#portfolio-layout{
    background-image: url(../portfolio-img/protfolio.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#greener{
    background-image: url(../portfolio-img/greener-logo.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#greener-web{
    background-image: url(../portfolio-img/greener-web.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#greener-dashboard{
    background-image: url(../portfolio-img/greener-dashboard.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#traveller{
    background-image: url(../portfolio-img/traveller.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#traveller-var{
    background-image: url(../portfolio-img/traveller-var.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#annes-bakery{
    background-image: url(../portfolio-img/annes-bakery.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#lovely-pet-layout{
    background-image: url(../portfolio-img/lovely-pet.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#illustration{
    background-image: url(../portfolio-img/girl-illustration.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#vietnam-soldier{
    background-image: url(../portfolio-img/vietnam-soldier.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#mike-tyson{
    background-image: url(../portfolio-img/mike-tyson.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#thomas-shelby{
    background-image: url(../portfolio-img/thomas-shelby.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 0.2s;
}

#contato{
    margin-top: 30px;
    background-color: var(--standard-gray);
}


#contato h1{
    font-family: Caviar Dreams, sans-serif;
    font-weight: bold;
    font-size: 30pt;
    color: var(--standard-color);
}

#contacts{
    margin-top: 30px;
}

#contacts h3{
    font-family: Caviar Dreams, sans-serif;
    font-weight: bold;
    color: var(--standard-white);
}

#contacts li{
    margin-left: 10px;
    margin-right: 30px;
    font-family: Caviar Dreams, sans-serif;
    color: #fff;
}

#contacts li a{
    text-decoration: none;
    color: var(--standard-white);
}


#contacts li, h3{
    list-style: none;
}


footer{
    padding: 20px;
}

footer h5{
    font-family: Caviar Dreams, sans-serif;
    font-weight: normal;
    text-align: center;
    color: var(--standard-white);
}

footer h5 span{
    font-family: Caviar Dreams, sans-serif;
    font-weight: bold;
    color: var(--standard-color);
}